<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">
    <insert id="save" parameterType="member">
        insert into member_table (memberEmail,memberName,memberPassword,memberPhone,memberAge)
          values (#{memberEmail},#{memberName},#{memberPassword},#{memberPhone},#{memberAge})
    </insert>

    <select id="DuplicateCheck" parameterType="String" resultType="String">
        select memberEmail from member_table where memberEmail=#{memberEmail}
    </select>

    <select id="login" parameterType="member"   resultType="member">
        select * from member_table where memberEmail=#{memberEmail} and memberPassword=#{memberPassword}
    </select>
</mapper>



